.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.env
.env.*
!.env.example
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
